
path{
	stroke:#000000;
	fill:#000000;
	stroke-dasharray:1800;
	opacity:10;
	animation: animate 3s cubic-bezier(0,0.23,1,.1);
}
@keyframes animate{
	0%{
		opacity:0;
		fill: none;
		stroke-dashoffset:1800;
	}
	30%{
		opacity:10;
		fill: none;
		stroke-dashoffset:1800;
	}
	65%{
		fill:rgba(255,255,255,0);
	}
	100%{
		opacity:10;
		fill:rgba(255,255,255,1)
		stroke-dashoffset:1800;
	}
}

@media all and (min-width: 480px) {
	.wrapper{
		margin-top: 21%;
		margin-left: 33%;
		width:40%;
	}
}
@media not all and (min-width: 480px) {  /*phone*/
	.wrapper{
		margin-top: 68%;
		width: 80%;
		margin-left: 15%;
	}
}
/* Overlay Preload */
/* body{
    width: 100%;
    overflow-x: hidden;
}

.spinner{
    width: 80px;
    height: 80px;

    border: 2px solid #000001;
    border-top:3px solid #000000;
    border-radius: 100%;

    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;

    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

#overlay{
  height:100%;
  width:100%;
  background:#fff;
  position:fixed;
  margin-left:3.5%;
  top:0;
 } */
