body {
	font-family: 'Montserrat', sans-serif;
}

p, ul > li {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-weight:400;
	color:black;
}

ul > li {
	text-align: left;
}

* {
	transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
}

html, body, section, .page {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
	-webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
	background-image: url(../img/home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

section {
	width:400%;
}

.page {
	position: absolute;
}

#p1 {
	left: 0;
	background-image: url(../img/home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#p2 {
	left: 100%;
	background-image: url(../img/white.jpg);
	/* background-image: url(../img/plainwhite.jpg); */
	background-repeat: no-repeat;
	background-size: cover;
}

#p3 {
	left: 200%;
	background-image: url(../img/white.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#p4 {
	left: 300%;
	background-image: url(../img/white.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

section > ul {
	position: fixed;
	z-index: 1;
}
#t1:target .page#p1 {
	transform: translateX(0);
}
#t2:target .page#p2 {
	transform: translateX(-90%);
}
#t3:target .page#p3 {
	transform: translateX(-190%);
}
#t4:target .page#p4 {
	transform: translateX(-290%);
}

section > ul {
	background-color: rgba(48, 51, 60, 1);
}

.page#p1 {
	-webkit-transition: all 0.5s ease-in-out; */
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#t2:target .page#p1 .icon,
#t3:target .page#p1 .icon,
#t4:target .page#p1 .icon {
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

.icon {
	color: 	#000000;
	font-size: 32px;
	display: block;
}

ul .icon:hover {
	opacity: 0.6;
}

#p1 .icon .title {
	margin-bottom: 20px;
}

#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon {
	transform: scale(1);
	transition-delay: .1s;
}

#t2:target #dos {
	color: #63adcc;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

#t3:target #tres {
	color: #63adcc;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

#t4:target #cuatro {
	color: #63adcc;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

section > ul {
	padding-top: 15%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: auto;
	width: 10%;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	text-align: center;
}

section > ul li {
	margin: 30px 0;
}

a {
	text-decoration: none!important;
}

.title, .hint {
	display: block;
}

.page .icon {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10%;
	left: 0;
	width: auto;
	height: auto;
	margin: auto;
	text-align: center;
	font-size: 60px;
	transform: translateX(360%);
	line-height: 1.3;
}

.page {
	overflow-y: scroll;
}

.page#p1 .icon {
	margin-left: 10%;
	margin-top: 12%;
}

.page#p1 .icon {
	transform: translateX(0) !important;
}

#t2:target .page#p2 .icon {
	transform: translateX(0) !important;
}

#t3:target .page#p3 .icon {
	transform: translateX(0) !important;
}

#t4:target .page#p4 .icon {
	transform: translateX(0) !important;
}

.credit {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
}

.credit a {
	color: #fff
}


.primary-button a {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	padding: 15px 25px;
	background-color: #63adcc;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.5px;
	border-radius: 25px;
	border: 1px solid transparent;
	text-decoration: none;
}

.primary-button a:hover {
	background-color: transparent;
	border: 1px solid #fff;
}


#p1 span {
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}

#p1 h4 {
	letter-spacing: 1px;
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
}

#p1 p {
	margin: 20px 30% 20px 30%;
}


#p2 .left-text {
	text-align: left;
}

#p2 .primary-button {
	margin-bottom: 3%;
}

#p2 .right-image {
	padding-bottom: 40px;
}

#p2 .right-image img {
	max-width: 100%;
	overflow: hidden;
}

#p2 .title {
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#p2 h4 {
	letter-spacing: 1px;
	font-size: 48px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-bottom: 30px;
}



#p3 .title {
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin-bottom: 30px;
}

#p3 .project-item {
	margin: 15px 0px;
}

#p3 .project-item img {
	overflow: hidden;
}

#p3 .last-project {
	padding-bottom: 40px;
}

#p4 .title {
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin-bottom: 60px;
}

#p4 fieldset {
	margin-top: -30px;
	margin-bottom: 15px;
}

#p4 input {
	font-family: 'Montserrat', sans-serif;
	padding-left: 15px;
	max-width: 100%;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	font-size: 13px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	border: none;
	outline: none;
	border-radius: 0;
	box-shadow: none;
}

#p4 input:focus {
	outline: none!important;
	box-shadow: none;
}

#p4 textarea {
	font-family: 'Montserrat', sans-serif;
	margin-top: 35px;
	margin-bottom: 20px;
	padding-left: 15px;
	width: 100%;
	max-width: 100%;
	max-height: 180px;
	height: 140px;
	display: inline-block;
	line-height: 40px;
	font-size: 13px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	border: none;
	outline: none!important;
	border-radius: 0;
	box-shadow: none;
}

#p4 textarea:focus {
	outline: none!important;
	box-shadow: none;
}

#p4 button {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	padding: 15px 25px;
	background-color: #63adcc;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
	left: 0.5px;
	border-radius: 25px;
	border: 1px solid transparent;
}

#p4 button:hover {
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

#p4 .right-info {
	/* background-color: #faf0e6; */
	padding: 30px;
	color: #343434;
	/* text-align: left; */
	margin-bottom: 60px;
	margin-right: 6%;
}

#p4 .right-info p em {
	font-style: normal;
	font-weight: 500;
}



#p4 .right-info ol {
	padding: 0;
	margin-top: 30px
}

#p4 .right-info i {
	color: #fff;
	font-size: 18px;
	/* height: 34px; */
	background-color: #cdcdcd;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	line-height: 55px;
	width: 55px;
}

#p4 .right-info i:hover {
	background-color: #63adcc;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}

@media (max-width: 850px){

	.page#p1 .icon {
		height: auto;
		padding: 80px 0px 0px 4%;
	}


	#p1 h4 {
		letter-spacing: 1px;
		font-size: 36px;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		font-weight: 500;
	}

	#p1 p {
		margin: 20px;
	}

	.page#p2 .icon {
		height: auto;
		padding: 80px 0px;
	}

	#p2 .left-text {
		text-align: center;
		margin-bottom: 45px;
	}

	#p2 .right-image {
		margin-bottom: 40px;
	}

	.page#p3 .icon {
		height: auto;
		padding: 80px 0px;
	}

	#p3 .last-project {
		margin-bottom: 40px;
	}

	.page#p4 .icon {
		height: auto;
		padding: 80px 0px;
	}

	#p4 .right-info {
		margin-bottom: 60px;
	}

	#p4 .right-info i {
		margin-right: 0px;
	}

	#p4 .right-info {
		padding: 20px;
	}

	html, body, section, .page {
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
		-webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
		color: #fff;
		background: #30333c;
	}

	.credit {
		background-color: rgba(0, 0, 0, 0.5);
		margin-bottom: 0px;
		padding: 8px 0px;
	}

}




/*
========================================
----------- LIGHT BOX STYLE ------------
========================================
*/

/* Preload images */
body:after {
	content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
	display: none;
}

body.lb-disable-scrolling {
	overflow: hidden;
}

.lightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: black;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.8;
	display: none;
}

.lightbox {
	position: absolute;
	margin-top: 5%;
	left: 0;
	width: 100%;
	z-index: 10000;
	text-align: center;
	line-height: 0;
	font-weight: normal;
}

.lightbox .lb-image {
	display: block;
	height: auto;
	max-width: inherit;
	max-height: none;
	border-radius: 3px;

	/* Image border */
	border: 4px solid white;
}

.lightbox a img {
	border: none;
}

.lb-outerContainer {
	position: relative;
	*zoom: 1;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 4px;

	/* Background color behind image.
	This is visible during transitions. */
	background-color: white;
}

.lb-outerContainer:after {
	content: "";
	display: table;
	clear: both;
}

.lb-loader {
	position: absolute;
	top: 43%;
	left: 0;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}

.lb-cancel {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.lb-container > .nav {
	left: 0;
}

.lb-nav a {
	outline: none;
	background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
	height: 100%;
	cursor: pointer;
	display: block;
}

.lb-nav a.lb-prev {
	width: 34%;
	left: 0;
	float: left;
	background: url(../img/prev.png) left 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.lb-nav a.lb-next {
	width: 64%;
	right: 0;
	float: right;
	background: url(../img/next.png) right 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.lb-dataContainer {
	margin: 0 auto;
	padding-top: 5px;
	*zoom: 1;
	width: 100%;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
	content: "";
	display: table;
	clear: both;
}

.lb-data {
	padding: 0 4px;
	color: #ccc;
}

.lb-data .lb-details {
	width: 85%;
	float: left;
	text-align: left;
	line-height: 1.1em;
}

.lb-data .lb-caption {
	font-size: 13px;
	font-weight: bold;
	line-height: 1em;
}

.lb-data .lb-caption a {
	color: #4ae;
}

.lb-data .lb-number {
	display: block;
	clear: left;
	padding-bottom: 1em;
	font-size: 12px;
	color: #999999;
}

.lb-data .lb-close {
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	background: url(../img/close.png) top right no-repeat;
	text-align: right;
	outline: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.clipped {
	clip-path: circle();
	margin-left: -105px;
}


#com{
	background-size: 100%;
	background-repeat: no-repeat;
	padding-top: 300px;
	overflow-y: hidden;
}

#proj{
	border: 3px solid rgba(0,0,0,0.2);
	width: 200px;
	height: 200px;
}
#selfpic{
	width:230px;
	margin-left:auto;
	margin-top: 20px;"
}
.category-header {
	text-align: center;
	font-size: 30px;
	color: #1A222C;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	line-height: 1.1;
}
#section-skills {
	text-align: center;
	font-weight: 600;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
}
.skill {
	position: relative;
	height: 35px;
	max-width: 400px;
	left: 50%;
	transform: translateX(-50%);
}
.skill .rating {
	float: right;
	font-size: 18px;
	color: #337ab7;
}


@media screen and (max-width: 480px) {
	.right-info {
		width: 200px;
		margin-left:22.5%;
	}
}

@media screen and (max-width: 480px) {
	#p4 .right-info i{
		background-color:#aeaeae;
		margin-right:8%;
	}
}

@media screen and (max-width: 1400px) {
	#p3 .project-item i{
		margin-left:-1.5%;

	}
}
@media screen and (max-width: 800px) {
	#proj{
		height:140px;
		width:140px;
	}
}
@media screen and (max-width: 480px) {
	#p4 .right-info{
		margin-left:19%;
		margin-top:-15%;
	}
}

#p2pic{
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left:-20px;
	height:380px;
	right:-20px;
	font-family: garamond;
	color:#d9d9d9;
}

#p2name{
	margin-top:6%;
	font-size:30px;
}

@media all and (min-width: 480px) {
	.icon{
		margin-top: 0;
	}
}

@media not all and (min-width: 480px) {
	.icon{
		margin-top: 150%;
	}
}
#projrow{
	margin-left:-4%;
}
#button3{
	margin-bottom:8%;
	margin-left:-3%
}
@media screen and (max-width: 480px){
	#button3{
		margin-left:auto;
	}
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue Regular.otf');
}
@font-face {
    font-family: 'BebasNeueBold';
    src: url('../fonts/BebasNeue Bold.otf');
}


@media not all and (min-width: 480px) { /*phone*/
	#p2pic{
		height:230px;
		font-family: garamond;
		color:#d9d9d9;
		font-size:30px;
	}
}

@media not all and (min-width: 480px) {
	#p2pic{
		height:250px;
		font-family: garamond;
		color:#d9d9d9;
		font-size:30px;
	}
}
@media not all and (min-width: 480px) { /*phone*/
	#selfpic{
		height:140px;
		width:140px;
		margin-top:0;
	}
}

@media not all and (min-width: 480px) { /*phone*/
	#pageicons{
		font-size:35px;
	}
}
@media not all and (min-width: 480px) { /*phone*/
	#pageicons{
		font-size:35px;
	}
}
@media not all and (min-width: 480px) { /*phone*/
	.social-icons{
		line-height: 80px;
	}
}

/* <~~~~~~~~~~~~~~~~~~~~~~~~~~~About Page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~> */
@media not all and (min-width: 480px) {  /*phone*/
	#abouthead{
		font-family:BebasNeueBold;
		letter-spacing:0.1em;
		font-size:35px;
		margin-top:92.5%;
		margin-bottom:7.5%;
	}
}
@media all and (min-width: 480px) {
	#abouthead{
		font-family:BebasNeueBold;
		letter-spacing:0.1em;
		font-size:44px;
		margin-top:36%;
		margin-right:5%;
	}
}
#aboutblock{
	text-align:center;
	margin-top:1%;
}
@media all and (min-width: 480px) {
	#aboutblock{
		margin-left:19.5%;
	}
}

hr{
	margin-right:0;
	height:1px;
}

#education{
	text-align:left;
	line-height:12px;
	margin-left:5%
}

@media not all and (min-width: 480px) {  /*phone*/
	#nus{
		width:200px;
		margin-top:9%;
		margin-bottom:9%;
	}
}
@media not all and (min-width: 480px) {  /*phone*/
	#njc{
		width:230px;
		margin-top:9%;
		margin-bottom:9%;
	}
}
@media all and (min-width: 480px) {  /*phone*/
	#nus{
		width:230px;
	}
}
@media all and (min-width: 480px) {  /*phone*/
	#njc{
		width:300px;
	}
}
@media not all and (min-width: 480px) {  /*phone*/
	#skillhead{
		font-family:BebasNeueBold;
		letter-spacing:0.1em;
		font-size:35px;
	}
}
@media all and (min-width: 480px) {
	#skillhead{
		font-family:BebasNeueBold;
		letter-spacing:0.1em;
		font-size:44px;
		margin-right:3%;
	}
}
@media not all and (min-width: 480px) {  /*phone*/
	#edulastrow{
		margin-bottom:11%;
	}
}
@media all and (min-width: 480px) {
	#edulastrow{
		margin-bottom:2.85%
	}
}
@media not all and (min-width: 480px) {  /*phone*/
	#p2 .icon{
		padding-bottom:5%;
	}
}
@media all and (min-width: 480px) {
	#p1button{
		margin-top: 8%;
		display: block;
		padding-bottom: 60px;
	}
}
@media not all and (min-width: 480px) {  /*phone*/
	#p1button{
		margin-top: 28%;
		display: block;
		padding-bottom: 60px;
	}
}
@media all and (min-width: 480px) {
	#skillsblock{
		margin-left:23.5%;
	}
}
